---
layout: default
---

<br />
<br />
<br />
<br />

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn btn-primary btn-lg" role="button">subscribe via RSS</a></p>
  </div>
</div>  

<div class="container theme-showcase" role="main">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.category != "course" %}
    <!-- <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li> -->
    {% include post-grid.html %}
    {% endif %}
    {% endfor %}
  </ul>
</div>

<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
