<!DOCTYPE html>
<html>

{% include head.html %}

<body role="document">

	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	{% include google_analytics.html %}
	{% include statscounter.html %}

	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="/js/bootstrap.min.js"></script>
	    <script src="/assets/js/docs.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
	    <script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'eseprimo'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    	var s = document.createElement('script'); s.async = true;
    	s.type = 'text/javascript';
    	s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    	(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
</body>
</html>
